{% extends 'base.html' %}

{% block content %}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">일정</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">일정</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>월</th>
                        <th>화</th>
                        <th>수</th>
                        <th>목</th>
                        <th>금</th>
                        <th>토</th>
                        <th>일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>종일</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>오전8시</td>
                        <td>
                          <div class="card bg-primary text-white shadow">
                            <div class="card-body">
                              Primary
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-success text-white shadow">
                            <div class="card-body">
                              Success
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td>
                          <div class="card bg-info text-white shadow">
                            <div class="card-body">
                              Info
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-warning text-white shadow">
                            <div class="card-body">
                              Warning
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td>
                          <div class="card bg-danger text-white shadow">
                            <div class="card-body">
                              Danger
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-secondary text-white shadow">
                            <div class="card-body">
                              Secondary
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-light text-white shadow">
                            <div class="card-body">
                              Light
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-secondary text-white shadow">
                            <div class="card-body">
                              Secondary
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>오전8시</td>
                        <td>
                          <div class="card bg-primary text-white shadow">
                            <div class="card-body">
                              Primary
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-success text-white shadow">
                            <div class="card-body">
                              Success
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td>
                          <div class="card bg-info text-white shadow">
                            <div class="card-body">
                              Info
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-warning text-white shadow">
                            <div class="card-body">
                              Warning
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td>
                          <div class="card bg-danger text-white shadow">
                            <div class="card-body">
                              Danger
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-secondary text-white shadow">
                            <div class="card-body">
                              Secondary
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-light text-white shadow">
                            <div class="card-body">
                              Light
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-secondary text-white shadow">
                            <div class="card-body">
                              Secondary
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>오전8시</td>
                        <td>
                          <div class="card bg-primary text-white shadow">
                            <div class="card-body">
                              Primary
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-success text-white shadow">
                            <div class="card-body">
                              Success
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td>
                          <div class="card bg-info text-white shadow">
                            <div class="card-body">
                              Info
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-warning text-white shadow">
                            <div class="card-body">
                              Warning
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td>
                          <div class="card bg-danger text-white shadow">
                            <div class="card-body">
                              Danger
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-secondary text-white shadow">
                            <div class="card-body">
                              Secondary
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-light text-black shadow">
                            <div class="card-body">
                              Light
                              <div class="text-white-10 small">#4e73df</div>
                            </div>
                          </div>
                          <div class="card bg-secondary text-white shadow">
                            <div class="card-body">
                              Secondary
                              <div class="text-white-50 small">#4e73df</div>
                            </div>
                          </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

