<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">아이똑똑<sup>2</sup></div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="index.html"><i class="fas fa-fw fa-tachometer-alt"></i><span>일정등록</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="index.html"><i class="fas fa-fw fa-tablets"></i><span>이용자등록</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="index.html"><i class="fas fa-fw fa-calendar-alt"></i><span>캘린더 출력</span></a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading">
    일정조회
  </div>
  <!-- Nav Item - 전체일정 -->
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>전체일정</span></a>
  </li>
  <!-- Nav Item - 내일정 -->
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>내일정</span></a>
  </li>
  <!-- Nav Item - 이용자별 일정 -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>이용자별 일정</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="buttons.html">김한라 /치료사</a>
        <a class="collapse-item" href="cards.html">이설악 / 치료사</a>
        <a class="collapse-item" href="cards.html">최금감 / 치료사</a>
        <a class="collapse-item" href="cards.html">박형근 / 센터장</a>
        <a class="collapse-item" href="cards.html">주정은 / 미술치료사</a>
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
  <!-- Sidebar Message -->
  <div class="sidebar-card d-none d-lg-flex">
    <img class="sidebar-card-illustration mb-2" src="/static/img/undraw_rocket.svg" alt="...">
    <p class="text-center mb-2"><strong>아이똑똑 - </strong> 메지지 등록</p>
    <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">바우처 신청!</a>
  </div>
</ul>
<!-- End of Sidebar -->

